@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Source+Sans+Pro&display=swap');
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
.navigation{
  padding-top: 20px;
  padding-bottom:30px;
  position: absolute;
  top:0;
  width:100%;
  z-index:1;
}

.navbar-right{
  float:right;
  padding-right: 35%;
}

.navbar-right a{
  text-decoration:none;
  padding:10px;
  color: #fff;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight:900;
}

.navbar-right a:hover{
  text-decoration:underline;
}

body {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: white;
  overflow-x: hidden;
}

.v-header {
  height: 100vh;
  display: flex;
  align-items: center;
  color: #fff;
  font-family: 'Playfair Display', serif;
}

.container {
  max-width: 1000px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: auto;
  text-align: center;
  color: white;
}
.fullscreen-video-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.fullscreen-video-wrap video {
  min-width: 100%;
  min-height: 100%;
}
.header-overlay {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  background-color: grey;
  z-index: 1;
  opacity: 0.6;
}
.header-content {
    z-index: 2;
    margin-left: auto;
    margin-right: 340px;
    margin-top: -90px;
}
.header-content h1 {
  font-size: 50px;
  margin-bottom: 0;
}
.header-content p {
  font-size: 1.5rem;
  display: block;
  padding-bottom: 2rem;
}




@media(max-width: 960px;){
  .container{
    padding-right: 3rem;
    padding-left: 3rem;
  }
}

#footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.308);
  color: white;
  text-align: center;

}
